:root {
  --blue-clr: #0075ff;
  --blue-alt-clr: #0d69d5;
  --orange-clr: #f59e0b;
  --green-clr: #22c55e;
  --red-clr: #f44336;
  --grey-clr: #888;
}
/* Start Box */
.d-flex {
  display: flex;
}
.align-c {
  align-items: center;
}
.justify-c {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.f-wrap {
  flex-wrap: wrap;
}
.f-1 {
  flex: 1;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.d-block {
  display: block;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
/* End Box */
/* Start Padding + Margin */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.m-0 {
  margin: 0;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-40 {
  margin-bottom: 40px;
}
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.h-full {
  height: 100%;
}
/* End Padding + Margin */
/* Start Color */
.bg-white {
  background-color: #fff;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-clr);
}
.bg-orange {
  background-color: var(--orange-clr);
}
.bg-green {
  background-color: var(--green-clr);
}
.bg-red {
  background-color: var(--red-clr);
}
.c-black {
  color: #000;
}
.c-grey {
  color: var(--grey-clr);
}
.c-white {
  color: #fff;
}
.c-blue {
  color: var(--blue-clr);
}
.c-orange {
  color: var(--orange-clr);
}
.c-green {
  color: var(--green-clr);
}
.c-red {
  color: var(--red-clr);
}
/* End Color */
/* Start Poistion */
.p-re {
  position: relative;
}
.p-ab {
  position: absolute;
}
/* End Poistion */
/* Start Font */
.text-c {
  text-align: center;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
@media (max-width: 767px) {
  .text-c-mobile {
    text-align: center;
  }
}
/* End Font */
/* Start Border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.b-none {
  border: none;
}
.rad-half {
  border-radius: 50%;
}
.border-ccc {
  border: 1px solid #ccc;
}
/* End Border */
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
/* Start Componant */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* End Componant */